<mat-toolbar color="primary" id="imageContainer">
  <span><a [routerLink]="['']"><img src="assets/img/logo.png" height="60"></a></span>
  <span class="spacer"></span>
  <div>
    <a mat-button routerLinkActive="opened" [routerLink]="['rest-service-explorer']">REST Service</a>
    <a mat-button routerLinkActive="opened" [routerLink]="['get-service-explorer']">GET Service</a>
    <a mat-button routerLinkActive="opened" [routerLink]="['post-service-explorer']">POST Service</a>
    <a mat-button href="/egui">egui!</a>
    <a mat-button href="/stats">Stats!</a>
  </div>
</mat-toolbar>
